* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.42;
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul,
il {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 865px;
    margin: 0 auto;
    padding: 0 5px;
}

.header__container {
    max-height: 1035px;
    justify-content: flex-end;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 33px;
    font-weight: 500;
}

.header-burger {
    width: 30px;
    height: 20px;
    display: none;
    align-items: center;
    margin-right: 18px;
}

.header-burger__el {
    height: 2px;
    width: 100%;
    background-color: #21243D;
    position: relative;
}

.header-burger__el::before,
.header-burger__el::after {
    height: 2px;
    width: 100%;
    background-color: #21243D; 
    position: absolute;
    content: "";
}

.header-burger__el::after{
     bottom: -9px; 
}

.header-burger__el::before {
    top: -9px;
}

@media (max-width: 480px) {
    .header {
        padding-top: 20px;
       
    }
    .nav {
        display: none;
    }
    .header-burger {
        display: flex;
        
    }
    .header__container {
        display: flex;
    justify-content: flex-end;
    }
}

.about {
    padding-top: 140px;
}

.about__container {
    display: flex;
}

.about__info-title {
    font-size: 44px;
    font-weight: 500;
}

.about__info {
    padding-right: 13%;
}

.about__info-main {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about__download {
    color: azure;
    background-color: #FF6464;
    width: 208px;
    height: 47px;
    border-radius: 2px;
    border: 0;
    text-align: 20px;
    margin-bottom: 76px;
}

.about__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about__avatar {
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    width: 243px;
    height: 243px;
  
}

@media (max-width: 480px) {
    .about__container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .about__info {
        padding-right: 0;
          padding: 0px 19px;
    }

    .about__avatar {
        width: 170px;
        height: 170px;
    }

    .about {
        padding-top: 30px;
    }
    
}

.recent-posts {
    background-color: #EDF7FA;
    padding: 27px 0px 37px;

}

.recent-posts__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

}

.recent-posts__main {
    display: flex;
}

.recent-posts__article {

    margin-right: 2%;
    background-color: #fff;
    padding: 24px 27px 7px 23px;
    color: #21243D;
}

.recent-posts__article:last-child {
    margin-right: 0%;
}

.recent-posts__link {
    font-size: 15px;
    color: aquamarine;
}

.recent-posts__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.46;
    margin-bottom: 17px;
}

.recent-post__info {
    margin-bottom: 14px;
}

.recent-posts__separator {
    margin-left: 26px;
    margin-right: 26px;
}

@media (max-width: 480px) {

   .recent-posts__title{
        font-size: 18px;
   }

    .recent-posts__top {
        justify-content: center;
        margin-bottom: 19px;
       
    } 
    .recent-posts__link {
        display: none;
    }

    .recent-posts__main {
        flex-direction: column;
        padding-right: 5px;
       padding-left: 5px;
    }

    .recent-posts__article {
        margin-right: 0;
        padding: 15px 20px 22px;
        margin-bottom: 17px;
    }
    

}

.title-category {
    margin-bottom: 25px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
}

.work {
    border-bottom: 1px solid #000;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.work__img-wrap {
    display: flex;
    max-width: 246px;
    flex-shrink: 0;
    border-radius: 6px;
    overflow: hidden;
}

.work__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featured {
    padding-top: 35px;
    padding-bottom: 84px;
}

.work__info {
    display: inline-block;
    margin-left: 16px;
}

.work__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.work__date {
    background-color: #142850;
    border-radius: 16px;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;

}

.work__date-block {
    display: flex;
}

.work__category {
    font-size: 20px;
    color: #8695A4;

}

.work__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.footer-container {
    display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__img-block {
    display: flex;
}

.footer__img {
    margin-bottom: 30px;
    margin-right: 35px;
    margin-top: 100px;
}

.social {
    height: 30px;
    width: 30px;
    overflow: hidden;

}

